.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #faf0e6;
  border: 2px solid #8b4411;
  border-radius: 5px;
  padding: 10px;
}

.grid-container > *:first-child {
  background-color: #8b4411;
}

.grid-container > *:last-child {
  margin: 10px;
}

img {
  width: 328px;
  height: 310.85px;
  /* padding: 5px; */
}

.profile-content {
  padding: 10px 20px;
}

.group {
  padding-top: 5px;
  font-size: 1.2rem;
  border-bottom: 1px dashed #333;
  padding-bottom: 10px;
}

.group:last-child {
  border-bottom: 0;
  padding-top: 20px;
  padding-bottom: 0px;
}
